<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.embed.moduled">

    <application>
        <activity
            android:name="com.sample.embed.moduled.SomeDActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>